section.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--grey-lighter);
  padding: 0 0 60px;
}

section.benefits .title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 60px 80px 40px;
  text-align: center;
}

section.benefits .title h2 {
  color: var(--black);
  font-weight: var(--bold);
  font-size: var(--f6);
}

section.benefits .itens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 0 70px;
  box-sizing: border-box;
}

section.benefits .itens .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 calc(25% - 20px);
  max-width: calc(25% - 20px);
  padding: 40px 25px;
  background-color: var(--white);
  border-radius: 10px;
  transition: all 0.3s;
}

section.benefits .itens .item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: var(--blue-light);
  border-radius: 40px;
}

section.benefits .itens .item .icon svg {
  width: 40px;
  fill: var(--blue-dark);
}

section.benefits .itens .item .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

section.benefits .itens .item .details .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 25px;
}

section.benefits .itens .item .details .text h4 {
  color: var(--black);
  font-weight: var(--bold);
  font-size: var(--f3);
}

section.benefits .itens .item .details .text p {
  color: var(--grey-medium);
  font-weight: var(--light);
  font-size: var(--f2);
  line-height: 1.5;
  margin-top: 5px;
}

@media (max-width: 1024px) {
  section.benefits .title h2 {
    font-size: var(--f4);
  }

  section.benefits .title {
    padding: 40px 20px 30px;
  }

  section.benefits .itens {
    padding: 20px 20px 0;
  }

  section.benefits .itens .item {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
