section.process {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--white);
  padding: 0 0 60px;
}

section.process .title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 60px 80px 40px;
  text-align: center;
}

section.process .title h2 {
  color: var(--black);
  font-weight: var(--bold);
  font-size: var(--f6);
}

section.process .steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 0 70px;
  box-sizing: border-box;
}

section.process .steps .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 calc(25% - 20px);
  max-width: calc(25% - 20px);
  padding: 40px 25px;
  border: 1px solid var(--grey-light);
  border-radius: 10px;
  background-color: var(--white);
}

section.process .steps .step span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--blue-dark);
  color: var(--white);
  font-size: var(--f3);
  font-weight: var(--bold);
}

section.process .steps .step .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

section.process .steps .step .details .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 25px 0 0;
}

section.process .steps .step .details .text h4 {
  color: var(--black);
  font-weight: var(--bold);
  font-size: var(--f3);
}

section.process .steps .step .details .text p {
  color: var(--grey-medium);
  font-weight: var(--light);
  font-size: var(--f2);
  line-height: 1.5;
  margin: 5px 0;
}

@media (max-width: 1024px) {
  section.process .title {
    padding: 40px 20px 30px;
  }

  section.process .title h2 {
    font-size: var(--f4);
  }
  section.process .steps {
    padding: 20px 20px 0;
  }

  section.process .steps .step {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
