<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../assets/css/components/global/header.css" />
    <title>Inicio | Stagely</title>
  </head>
  <body>
    <header>
      <div class="screen">
        <div class="icon">
          <svg>
            <use href="#home" />
          </svg>
        </div>
        <h3>Dashboard</h3>
      </div>
      <div class="search">
        <div class="field">
          <div class="icon">
            <svg>
              <use href="#search" />
            </svg>
          </div>
          <input type="text" placeholder="Buscar na aplicação" />
        </div>
      </div>
      <div class="options">
        <button class="notification">
          <svg>
            <use href="#bell" />
          </svg>
          <span></span>
        </button>
        <button class="profile">
          <svg>
            <use href="#chevron-down" />
          </svg>
          <div class="photo" style="background-image: url('../../../assets/images/placeholder.webp')"></div>
        </button>
      </div>
    </header>
  </body>
</html>
