section.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 80px 30px;
}

section.form-container .logo {
  width: 100%;
  max-width: 150px;
}

section.form-container h1 {
  margin: 20px 0;
  font-size: var(--f2);
  font-weight: var(--light);
  color: var(--black);
  line-height: 1.5;
}

section.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

section.form-container form .field {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  margin-top: 25px;
}

section.form-container form .field .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

section.form-container form .field .icon::after {
  content: '';
  position: absolute;
  right: 0;
  width: 1px;
  height: 70%;
  background-color: var(--grey-light);
}

section.form-container form .field .icon svg {
  width: 25px;
  height: 25px;
  fill: var(--black);
  pointer-events: none;
}

section.form-container form .field .icon-eye {
  position: absolute;
  top: 30px;
  left: auto;
  right: 20px;
  width: 25px;
  height: 25px;
  pointer-events: auto;
  cursor: pointer;
}

section.form-container form .field .icon-eye::after {
  display: none;
}

section.form-container form .field .icon-eye svg {
  fill: var(--grey-soft);
}

section.form-container form .field .icon-eye.active svg {
  fill: var(--black);
}

section.form-container form .field label {
  position: absolute;
  top: 20px;
  left: 100px;
  font-size: var(--f1);
  font-family: var(--light);
  color: var(--black);
  pointer-events: none;
}

section.form-container form .field input {
  width: 100%;
  height: 80px;
  padding: 30px 20px 0 100px;
  font-size: var(--f2);
  font-weight: var(--bold);
  color: var(--black);
  background-color: var(--grey-lighter);
  border-radius: 10px;
  border: none;
  outline: none;
}

section.form-container form .field input::placeholder {
  color: var(--black);
  font-size: var(--f2);
  font-weight: var(--bold);
}

section.form-container form button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  height: 60px;
  margin-top: 20px;
  background-color: var(--blue-dark);
  color: var(--white);
  font-size: var(--f2);
  font-weight: var(--bold);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

section.form-container form button:hover {
  background-color: color-mix(in srgb, var(--blue-dark) 65%, var(--white) 35%);
}

section.form-container form button.loading {
  background-color: color-mix(in srgb, var(--blue-dark) 65%, var(--white) 35%);
  color: color-mix(in srgb, var(--blue-dark) 65%, var(--white) 35%);
  pointer-events: none;
}

section.form-container form button.loading span {
  opacity: 1;
  visibility: visible;
}

section.form-container form button span {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid var(--white);
  border-top: 3px solid transparent;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  animation: 1s spin infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
