@import url('../../global/global.css');

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  border-right: 1px solid var(--grey-medium);
}

aside .logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  min-height: 60px;
  width: 100%;
  padding: 0 30px;
  border-bottom: 1px solid var(--grey-medium);
}

aside .logo-container img {
  width: 100px;
}

aside .logo-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
}

aside .logo-container button svg {
  width: 25px;
  height: 25px;
  fill: var(--white);
}

aside .options{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  margin: 25px 0 0 0;
}

aside .options a{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 15px 0 0 0;
}

aside .options a svg{
  width: 20px;
  height: 20px;
  fill: var(--white);
  margin: 0 10px 0 10;
}

aside .options a span{
font-size: var(--f1);
font-weight: var(--light);
color: var(--white);
}
