footer {
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--grey-lighter);
  padding: 20px 80px;
}

footer .footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .footer-container .footer-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer-container .footer-left span {
  font-size: var(--f2);
  color: var(--black);
}

footer .footer-container .footer-center span {
  font-size: var(--f2);
  color: var(--black);
}

footer .footer-container .footer-center .heart {
  color: red;
}

footer .footer-container .footer-right svg {
  width: 30px;
  height: 30px;
  fill: var(--black);
  filter: brightness(1.2);
  transition: all 0.3s;
}
