header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey-light);
  z-index: 999;
}

header .logo img {
  width: 120px;
}

header .nav-options a {
  font-size: var(--f2);
  font-weight: var(--light);
  color: var(--black);
  margin-left: 20px;
  transition: all 0.3s;
}

header .nav-options a:hover {
  color: var(--green);
}

header .profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .profile button.open {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  height: 40px;
  background-color: var(--grey-lighter);
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

header .profile button.open:hover {
  background-color: var(--grey-light);
}

header .profile button.open svg {
  width: 15px;
  height: 15px;
  margin: 0 0 0 15px;
  fill: var(--black);
  transition: transform 0.3s;
}

header .profile button.open.active svg {
  transform: rotate(180deg);
}

header .profile button.open .photo {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
}

header .profile .options {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 170px;
  margin: 20px 0 0 0;
  padding: 5px 0 5px 0;
  background-color: var(--white);
  border: 1px solid var(--grey-light);
  border-radius: 13px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
}

header .profile .options.active {
  opacity: 1;
  visibility: visible;
}

header .profile .options .item {
  width: 100%;
  display: flex;
  padding: 10px;
  cursor: pointer;
}

header .profile .options .item svg {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
}

header .profile .options .item span {
  color: var(--black);
  font-size: var(--f2);
  font-weight: var(--regular);
}

header .profile .options .item:hover span {
  color: var(--green);
}

header .profile .options .item:hover svg {
  fill: var(--green);
}

header .profile .options .item.logout {
  border-top: 1px solid var(--red);
}

header .profile .options .item.logout span {
  color: var(--red);
  transition: all 0.3s;
}

header .profile .options .item.logout svg {
  fill: var(--red);
  transition: all 0.3s;
}

header .profile .options .item.logout:hover span {
  color: var(--black);
}

header .profile .options .item.logout:hover svg {
  fill: var(--black);
}

header .hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

header .hamburger svg {
  width: 24px;
  height: 24px;
  fill: var(--black);
}

header .nav-options.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  color: var(--green);
  background-color: var(--white);
  border-bottom: 1px solid var(--grey-light);
  padding: 20px;
}

header .nav-options.open a {
  margin: 10px 0;
}

@media screen and (max-width: 1024px) {
  header {
    padding: 20px;
  }
  header .logo img {
    width: 90px;
  }

  header .hamburger {
    display: block;
  }

  header .nav-options {
    display: none;
  }

  header .profile .options {
    margin: 20px 0 0 0;
  }
}
