<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../assets/css/components/global/aside.css" />
    <title>Document</title>
  </head>
  <body>
    <aside>
      <div class="logo-container">
        <img src="../../../assets/images/logo.svg" alt="logo" />
        <button>
          <svg>
            <use href="#collapsible" />
          </svg>
        </button>
      </div>
      <nav class="options">
        <a href="#">
          <svg>
            <use href="#home" />
          </svg>
          <span>Dashboard</span>
        </a>
        <a href="#">
          <svg>
            <use href="#home" />
          </svg>
          <span>Alunos</span>
          <svg>
            <use href="#chevron-arrow" />
          </svg>
        </a>
        <a href="#">
          <svg>
            <use href="#home" />
          </svg>
          <span>Empresas</span>
        </a>
        <a href="#">
          <svg>
            <use href="#home" />
          </svg>
          <span>Estágios</span>
        </a>
        <a href="#">
          <svg>
            <use href="#home" />
          </svg>
          <span>Avaliações</span>
        </a>
      </nav>
      <div class="help">
        <a href="#">
          Precisa de ajuda?
          <span>Chama aqui</span>
        </a>
        <svg>
          <use href="#help" />
        </svg>
      </div>
    </aside>
  </body>
</html>
